{
    border: 4px red solid;
}

html
{
    background-color: rgb(183,117,31);
}

body 
{
    background-color: #ce9c5b;
    border: 5px solid;
    width: 660px;
    margin: 0 auto;
    padding: 0, 20px, 20px,20px;
}


img
{
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}
