body{
    background-color: gold;
}

#landing_title{
    text-align: center;
    font-size: 200px;
}

#ul_top_hyperlinks {
    display: flex; 
    justify-content: space-around;
    list-style-type: none;
}

#recipe_title {
    text-align: center;
    font-size: 100px;
}

#chicken_rice_picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

#chili_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

#pizza_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

#salmon_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

#wings_picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
