body{
    background-color: gold;
}

#landing_title{
    text-align: center;
    font-size: 200px;
}

#ul_top_hyperlinks {
    display: flex; 
    justify-content: space-around;
    list-style-type: none;
}

#recipe_title {
    text-align: center;
    font-size: 100px;
}